*{
    margin: 0;
    padding: 0;
}


.item {
    height: 20px;
    width: 40px;
    display: inline-block;
    margin: 5px;
    background-color: white;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid black;
    text-align: center;

}

.counter {
    height: auto;
    margin-top: 30px;
    background-color: rgb(240, 30, 30);
    border: 2px solid black;
    border-radius: 5px;

}

